1. Buatlah fungsi sebagai berikut :
	Apabila terdapat int = 4, maka outputnya 24 (prosesnya : 4*3*2*1)
  
	Apabila terdapat int = 8, maka outputnya 40320 (prosesnya : 8*7*6*5*4*3*2*1)

In [137]:
#import math
#a =4
#faktorial = math.factorial(a)
#print(faktorial)

#a =8
#faktorial = math.factorial(a)
#print(faktorial)

a = int(input('input number = '))
b = 1

for a in range(1, a+1):
  b*=a
print(b)

input number = 8
40320

In [127]:
#a = 8
#b = 1

#for a in range(1, a+1):
  #b*=a
#print(b)

40320

Buatlah fungsi untuk reverse sebuah string

Apabila input = “abcde”, maka outputnya = “edcba”

Dilarang menggunakan function reverse, buatlah logika sendiri

In [139]:
c = str(input("writing = "))
def a(x):
  return x[::-1]
b = a(c)
print(b)

writing = abcd
dcba

Buatlah fungsi untuk menampilkan jumlah digit angka tergantung dimana posisi
atau tempat dari angka dalam sebuah string “9.86-A5.321”!
Contoh: printDigitValue(‘9.86-A5.321’);
Hasil :
9865321
9000000
800000
60000
5000
300
20
1

In [131]:
print(round(9.86))

10

Buatlah fungsi sebagai berikut :
int : 4, maka outputnya adalah : empat
int : 20, maka outputnya adalah : dua puluh
int : 39, maka outputnya adalah : tiga puluh sembilan
int : 104, maka outputnya adalah : silahkan masukkan bilangan 1-100

In [147]:
a = int(input('input number = '))
if a == 4:
  print("empat")
elif a ==20:
  print("dua puluh")
elif a == 39:
  print("tiga puluh sembilan")
else:
  print("silahkan masukan bilangan 1-1000")

input number = 104
silahkan masukan bilangan 1-1000

Apabila terdapat sebuah data : 
array data =  [1,4,7,9,12],
int low = 2,
int high = 15,
maka akan menghasilkan ouput [4,7,9,12]

In [184]:
a=[1,4,7,9,12]
print(a[1:15])

[4, 7, 9, 12]